/misegundo/
body { 
background-color: #f5f5f5;
font-family: arial, sans-serif;
}

/miprimer/
.body { 
background-color: #f5f5f5;
font-family: arial, 
}

/mitercer/
h1 {
  color: blue;
}

/Anderson/
h1 {
  color: blue;
}

/esteban/ 
h1 {
  color: blue;
}


